* {
  font-family: sans-serif;
}

.big-header {
  color:#484848;
}

.sample-container {
  margin:auto;
}

.sample-buttons {
  margin:auto;
  width: 50%;
  align-self: center;
}

.sample-button {
  margin: auto;
}

.big-header {
  margin:auto;
  width: 50%;
  text-align:center;
}

.sample-svg {
  margin:auto;
  width: 50%;
  border: 1px solid lightgrey;
  margin-top:15px;
}
