* {
  font-family: sans-serif;
}

.big-header {
  color:#878f99;
  padding: 15px;
}

.sample-container {
  margin:auto;
}

.sample-buttons {
  margin:auto;
  text-align: center;
  width: 800px;
}

.sample-button {
  margin: auto;
  margin-right: 80px;
  display: inline-block;
}

.big-header {
  margin:auto;
  text-align:center;
  width: 800px;
}

.sample-svg-container {
  text-align: center;
  margin-top:15px;
}

.sample-svg {
  border: 1px solid lightgrey;

}
