* {
  font-family: sans-serif;
}

.big-header {
  color:#484848;
  padding: 15px;
}

.sample-container {
  margin:auto;
}

.sample-buttons {
  margin:auto;
  text-align: center;
  width: 800px;
}

.sample-button {
  margin: auto;
  margin-right: 40px;
  margin-left: 40px;
  display: inline-block;
  border:none;
}

.big-header {
  margin:auto;
  text-align:center;
  width: 800px;
}

.sample-svg-container {
  text-align: center;
  margin-top:15px;
}

.sample-svg {
  border: 3px solid lightgrey;
  border-radius: 3px;
}

button {
  background-color:#FF5A5F;
   color:#FDF4F1;
   padding: 8px;
   width: auto;
   height:30px;
   border-radius: 3px;
   font-size: 12px;
   font-weight: bold;
   letter-spacing: .5px;
   margin-left: 10px;
   font-weight: 500;
}
